<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>result_msg</key>
	<string></string>
	<key>list</key>
	<array>
		<dict>
			<key>APP_STATUS_ID</key>
			<string>1</string>
			<key>APP_USER_NAME</key>
			<string>Recluse</string>
			<key>APP_USER_IMAGEURL</key>
			<string>headImage</string>
			<key>APP_STATUS_CONTENT</key>
			<string>近些天的体育新闻一个比一个炸的厉害！</string>
			<key>APP_STATUS_PICTURE</key>
			<string>status1</string>
			<key>APP_STATUS_POSTTIME</key>
			<string>2017-07-24 11:28:31</string>
			<key>ZAN_NUM</key>
			<string>188</string>
			<key>COMMENT_NUM</key>
			<string>52</string>
			<key>COLLECT_NUM</key>
			<string>19</string>
			<key>IMAGE_HEIGHT</key>
			<string>864</string>
			<key>IMAGE_WIDTH</key>
			<string>1240</string>
		</dict>
		<dict>
			<key>APP_STATUS_ID</key>
			<string>2</string>
			<key>APP_USER_NAME</key>
			<string>Cathy</string>
			<key>APP_USER_IMAGEURL</key>
			<string>headImage2</string>
			<key>APP_STATUS_CONTENT</key>
			<string>大胡子怎么啥都没有呢！！！</string>
			<key>APP_STATUS_PICTURE</key>
			<string>status2</string>
			<key>APP_STATUS_POSTTIME</key>
			<string>2017-07-23 11:28:31</string>
			<key>ZAN_NUM</key>
			<string>1888</string>
			<key>COMMENT_NUM</key>
			<string>112</string>
			<key>COLLECT_NUM</key>
			<string>98</string>
			<key>IMAGE_HEIGHT</key>
			<string>750</string>
			<key>IMAGE_WIDTH</key>
			<string>750</string>
		</dict>
		<dict>
			<key>APP_STATUS_ID</key>
			<string>3</string>
			<key>APP_USER_NAME</key>
			<string>Lily</string>
			<key>APP_USER_IMAGEURL</key>
			<string>messagescenter_good</string>
			<key>APP_STATUS_CONTENT</key>
			<string>小罗和社会我球哥。</string>
			<key>APP_STATUS_PICTURE</key>
			<string>status3</string>
			<key>APP_STATUS_POSTTIME</key>
			<string>2017-07-22 11:28:31</string>
			<key>ZAN_NUM</key>
			<string>23890</string>
			<key>COMMENT_NUM</key>
			<string>1200</string>
			<key>COLLECT_NUM</key>
			<string>897</string>
			<key>IMAGE_HEIGHT</key>
			<string>550</string>
			<key>IMAGE_WIDTH</key>
			<string>980</string>
		</dict>
		<dict>
			<key>APP_STATUS_ID</key>
			<string>4</string>
			<key>APP_USER_NAME</key>
			<string>Amy</string>
			<key>APP_USER_IMAGEURL</key>
			<string>messagescenter_follow</string>
			<key>APP_STATUS_CONTENT</key>
			<string>来来来 快来开黑啦！</string>
			<key>APP_STATUS_PICTURE</key>
			<string>status4</string>
			<key>APP_STATUS_POSTTIME</key>
			<string>2017-07-21 11:28:31</string>
			<key>ZAN_NUM</key>
			<string>23980</string>
			<key>COMMENT_NUM</key>
			<string>8839</string>
			<key>COLLECT_NUM</key>
			<string>230</string>
			<key>IMAGE_HEIGHT</key>
			<string>500</string>
			<key>IMAGE_WIDTH</key>
			<string>800</string>
		</dict>
		<dict>
			<key>APP_STATUS_ID</key>
			<string>5</string>
			<key>APP_USER_NAME</key>
			<string>小黑</string>
			<key>APP_USER_IMAGEURL</key>
			<string>messagescenter_comments</string>
			<key>APP_STATUS_CONTENT</key>
			<string>我球哥，简直棒！</string>
			<key>APP_STATUS_PICTURE</key>
			<string>status5</string>
			<key>APP_STATUS_POSTTIME</key>
			<string>2017-07-19 11:28:31</string>
			<key>ZAN_NUM</key>
			<string>124501</string>
			<key>COMMENT_NUM</key>
			<string>25198</string>
			<key>COLLECT_NUM</key>
			<string>12894</string>
			<key>IMAGE_HEIGHT</key>
			<string>787</string>
			<key>IMAGE_WIDTH</key>
			<string>880</string>
		</dict>
		<dict>
			<key>APP_STATUS_ID</key>
			<string>6</string>
			<key>APP_USER_NAME</key>
			<string>Recluse</string>
			<key>APP_USER_IMAGEURL</key>
			<string>headImage</string>
			<key>APP_STATUS_CONTENT</key>
			<string>黄山 迎客松！</string>
			<key>APP_STATUS_PICTURE</key>
			<string>status6</string>
			<key>APP_STATUS_POSTTIME</key>
			<string>2017-07-18 11:28:31</string>
			<key>ZAN_NUM</key>
			<string>19867</string>
			<key>COMMENT_NUM</key>
			<string>672</string>
			<key>COLLECT_NUM</key>
			<string>278</string>
			<key>IMAGE_HEIGHT</key>
			<string>1280</string>
			<key>IMAGE_WIDTH</key>
			<string>960</string>
		</dict>
		<dict>
			<key>APP_STATUS_ID</key>
			<string>7</string>
			<key>APP_USER_NAME</key>
			<string>Amy</string>
			<key>APP_USER_IMAGEURL</key>
			<string>messagescenter_follow</string>
			<key>APP_STATUS_CONTENT</key>
			<string>红蓝军团！</string>
			<key>APP_STATUS_PICTURE</key>
			<string>status7</string>
			<key>APP_STATUS_POSTTIME</key>
			<string>2017-07-17 11:28:31</string>
			<key>ZAN_NUM</key>
			<string>672</string>
			<key>COMMENT_NUM</key>
			<string>89</string>
			<key>COLLECT_NUM</key>
			<string>64</string>
			<key>IMAGE_HEIGHT</key>
			<string>378</string>
			<key>IMAGE_WIDTH</key>
			<string>578</string>
		</dict>
		<dict>
			<key>APP_STATUS_ID</key>
			<string>8</string>
			<key>APP_USER_NAME</key>
			<string>Recluse</string>
			<key>APP_USER_IMAGEURL</key>
			<string>headImage</string>
			<key>APP_STATUS_CONTENT</key>
			<string>第六个年头了</string>
			<key>APP_STATUS_PICTURE</key>
			<string>status8</string>
			<key>APP_STATUS_POSTTIME</key>
			<string>2017-07-16 11:28:31</string>
			<key>ZAN_NUM</key>
			<string>89</string>
			<key>COMMENT_NUM</key>
			<string>25</string>
			<key>COLLECT_NUM</key>
			<string>33</string>
			<key>IMAGE_HEIGHT</key>
			<string>960</string>
			<key>IMAGE_WIDTH</key>
			<string>1280</string>
		</dict>
		<dict>
			<key>APP_STATUS_ID</key>
			<string>9</string>
			<key>APP_USER_NAME</key>
			<string>Lily</string>
			<key>APP_USER_IMAGEURL</key>
			<string>messagescenter_good</string>
			<key>APP_STATUS_CONTENT</key>
			<string>一个人守护一座城！</string>
			<key>APP_STATUS_PICTURE</key>
			<string>status9</string>
			<key>APP_STATUS_POSTTIME</key>
			<string>2017-07-13 11:28:31</string>
			<key>ZAN_NUM</key>
			<string>197</string>
			<key>COMMENT_NUM</key>
			<string>43</string>
			<key>COLLECT_NUM</key>
			<string>80</string>
			<key>IMAGE_HEIGHT</key>
			<string>898</string>
			<key>IMAGE_WIDTH</key>
			<string>898</string>
		</dict>
		<dict>
			<key>APP_STATUS_ID</key>
			<string>10</string>
			<key>APP_USER_NAME</key>
			<string>Cathy</string>
			<key>APP_USER_IMAGEURL</key>
			<string>headImage2</string>
			<key>APP_STATUS_CONTENT</key>
			<string>一秒变风格，赞！</string>
			<key>APP_STATUS_PICTURE</key>
			<string>status14</string>
			<key>APP_STATUS_POSTTIME</key>
			<string>2017-07-12 11:28:31</string>
			<key>ZAN_NUM</key>
			<string>68</string>
			<key>COMMENT_NUM</key>
			<string>22</string>
			<key>COLLECT_NUM</key>
			<string>31</string>
			<key>IMAGE_HEIGHT</key>
			<string>960</string>
			<key>IMAGE_WIDTH</key>
			<string>1280</string>
		</dict>
		<dict>
			<key>APP_STATUS_ID</key>
			<string>11</string>
			<key>APP_USER_NAME</key>
			<string>晴天</string>
			<key>APP_USER_IMAGEURL</key>
			<string>headImage3</string>
			<key>APP_STATUS_CONTENT</key>
			<string>一个人一座城！</string>
			<key>APP_STATUS_PICTURE</key>
			<string>status9</string>
			<key>APP_STATUS_POSTTIME</key>
			<string>2017-07-11 11:28:31</string>
			<key>ZAN_NUM</key>
			<string>97</string>
			<key>COMMENT_NUM</key>
			<string>20</string>
			<key>COLLECT_NUM</key>
			<string>80</string>
			<key>IMAGE_HEIGHT</key>
			<string>1280</string>
			<key>IMAGE_WIDTH</key>
			<string>1024</string>
		</dict>
		<dict>
			<key>APP_STATUS_ID</key>
			<string>12</string>
			<key>APP_USER_NAME</key>
			<string>Recluse</string>
			<key>APP_USER_IMAGEURL</key>
			<string>headImage</string>
			<key>APP_STATUS_CONTENT</key>
			<string>一览众山小！</string>
			<key>APP_STATUS_PICTURE</key>
			<string>status12</string>
			<key>APP_STATUS_POSTTIME</key>
			<string>2017-07-10 11:28:31</string>
			<key>ZAN_NUM</key>
			<string>188</string>
			<key>COMMENT_NUM</key>
			<string>39</string>
			<key>COLLECT_NUM</key>
			<string>90</string>
			<key>IMAGE_HEIGHT</key>
			<string>1280</string>
			<key>IMAGE_WIDTH</key>
			<string>960</string>
		</dict>
		<dict>
			<key>APP_STATUS_ID</key>
			<string>13</string>
			<key>APP_USER_NAME</key>
			<string>Recluse</string>
			<key>APP_USER_IMAGEURL</key>
			<string>headImage</string>
			<key>APP_STATUS_CONTENT</key>
			<string>啦啦啦！</string>
			<key>APP_STATUS_PICTURE</key>
			<string>status13</string>
			<key>APP_STATUS_POSTTIME</key>
			<string>2017-07-01 11:28:31</string>
			<key>ZAN_NUM</key>
			<string>188</string>
			<key>COMMENT_NUM</key>
			<string>12</string>
			<key>COLLECT_NUM</key>
			<string>82</string>
			<key>IMAGE_HEIGHT</key>
			<string>1174</string>
			<key>IMAGE_WIDTH</key>
			<string>659</string>
		</dict>
	</array>
</dict>
</plist>
